body {
    background-color: aquamarine;
}
p {
    color: chocolate;
    font-size: 24px;
    font-style: italic;
}
h1 {
    text-transform: uppercase;
    color: darkmagenta
}
img{
    border: solid black 5px;
    border-radius: 20px;
}